RUST_LOG="tutorIA_back=debug"

SERVICE_PORT="3000"

DATABASE_URL="postgres://app_user:dev_only_pwd@db/tutorIA_db"
POSTGRES_PASSWORD="welcome"

SECRET_JWT="CHANGE-ME"

# For Base64-URL
PWD_KEY="CHANGE-ME"

PGADMIN_DEFAULT_EMAIL="tutorIA@gmail.com"
PGADMIN_DEFAULT_PASSWORD="123"

# Executa o build da aplicação sem precisar se conectar com o banco previamente
SQLX_OFFLINE="true"

WEB_FOLDER="static/"

OPENAI_API_KEY="CHANGE-ME"

TUTORIA_MODEL="gpt-3.5-turbo"

DIR_TUTORIA_AGENT="tutorIA"